#contact {
	width: 100vw;
	height: fit-content;
	
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 2rem;
	padding-top: 0;
}

.contact-links {
	width: 50%;
	
	display: flex;
	flex-direction: row;

	gap: 2rem;
}

.contact-links > * {
	width: 100%;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-links > a > svg {
	width: 2rem;
	aspect-ratio: 1 / 1;
}
.contact-links > a > p {
	text-align: center;
}


@media (max-width: 767px) {
	#contact {
		flex-direction: column;
		height: max-content;
	}
	.contact-links {
		text-align: left;
	}
}