#projects {
	height: 90vh;
}


.card-holder {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	height: max-content;

	padding: 6rem 0 6rem 0;
}

.card {
	width: 20rem;
	align-self: stretch;

	border: 1px rgba(255,255,255, 0.1) solid;

	padding: 1rem;

	display: flex;
	gap: 0.8rem;
	flex-direction: column;
	justify-content: space-between;

	transition: all ease-in-out 0.4s;
}

.card:hover {
	background-color: var(--soft-white);
}

.card > * {
	transition: all ease-in-out 0.4s;
	color: var(--soft-white);
}

.card:hover > * {
	color: var(--background-color);
}

.card-header {
	font-weight: 700;
	font-size: 2rem;
}

.card-subheader {
	font-weight: 300;
	color: var(--soft-text-color);

}

.card:hover > .card-subheader {
	color: var(--dark-text-color);
}

.card > img {
	width: 100%;
	aspect-ratio: 1 / 1;
	justify-self: flex-end;

	transform: scale(0);
	transition: all ease-in-out 0.4s;
}

.card:hover > img {
	transform: scale(1);
	border: 1px rgba(255,255,255, 0.1) solid;
	border-radius: 2px;
}

@media (max-width: 767px) {
	#projects {
		height: fit-content;
	}

	.card-holder {
		flex-direction: column;
		height: fit-content;
	}
}