#projects {
	height: max(max-content, 90vh);
}


.card-holder {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	height: max-content;

	padding: 6rem 0 6rem 0;
}

.card {
	width: 20rem;
	align-self: stretch;

	border: 1px rgba(255,255,255, 0.1) solid;

	padding: 1rem;

	display: flex;
	gap: 0.4rem;
	flex-direction: column;
	justify-content: space-between;

	transition: all ease-in-out 0.4s;
}

.card:hover {
	background-color: var(--soft-white);
}

.card > * {
	transition: all ease-in-out 0.4s;
	color: var(--soft-white);
}

.card:hover > * {
	color: var(--background-color);
}

.card-header {
	font-weight: 700;
	font-size: 2rem;
}

.card-subheader {
	font-weight: 300;
	color: var(--soft-text-color);

}

.card-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.card-links > a {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	width: max-content;
}

.card-links > a > svg {
	height: 1.5rem;
	aspect-ratio: 1 / 1;
}

.card-links > a > p {
	font-size: 1.2rem;
	font-weight: 300;
}

.card-links > a:hover {
	text-decoration: underline;
}

.card:hover > .card-links > a > * {
	mix-blend-mode: difference;
}

.card:hover > .card-subheader {
	color: var(--dark-text-color);
}

.card > img {
	width: 100%;
	aspect-ratio: 1 / 1;
	justify-self: flex-end;

	transform: scale(0);
	transition: all ease-in-out 0.4s;
}

.card:hover > img {
	transform: scale(1);
	border: 1px rgba(255,255,255, 0.1) solid;
	border-radius: 2px;
}

@media (max-width: 767px) {
	#projects {
		height: fit-content;
	}

	.card-holder {
		flex-direction: column;
		height: fit-content;
	}

	.card {
		width: auto;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	#projects {
		height: fit-content;
	}
}